@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap');

/* Default font for body */
body {
    font-family: "Roboto Slab", serif !important;
}

/* secondary font */
.secondary-font, #secondary-font {
    font-family: "Roboto Slab", serif;
}

/* primary font */
.primary-font, #primary-font {
    font-family: "Alata", sans-serif;
}

/* Default font */
.default-font, #default-font {
    font-family: "Roboto", sans-serif;
}